[submodule "hashtables/contracts/lib/forge-std"]
	path = hashtables/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/1282/contracts/lib/forge-std"]
	path = hashtables/1282/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/771/contracts/lib/forge-std"]
	path = hashtables/771/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/1365/contracts/lib/forge-std"]
	path = hashtables/1365/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/3146/contracts/lib/forge-std"]
	path = hashtables/3146/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/1512/contracts/lib/forge-std"]
	path = hashtables/1512/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/2325/contracts/lib/forge-std"]
	path = hashtables/2325/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "hashtables/3/contracts/lib/forge-std"]
	path = hashtables/3/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "linkedLists/contracts/lib/forge-std"]
	path = linkedLists/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "linkedLists/21/contracts/lib/forge-std"]
	path = linkedLists/21/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "linkedLists/linkedList/lib/solidity-linked-list"]
	path = linkedLists/linkedList/lib/solidity-linked-list
	url = https://github.com/vittominacori/solidity-linked-list
[submodule "bitmasking/29/lib/forge-std"]
	path = bitmasking/29/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
